extends ../layout
block dependencies
    - var pixel = profileUserInfo.latestPixel;
    - var boardImageCorrection = (1000 / config.boardSize) * 4;
    - var pageTitle = `${profileUser.name}'s Profile`;
    - var pageDesc = `View ${profileUser.name}'s profile on ${config.siteName}.`;
    - var css = ["/css/profile.css"];
    - var navbarSupportsTopMode = !!profileUserInfo.latestPixel;
    - js = ["/js/tooltip.js", "https://cdn.jsdelivr.net/gh/rmm5t/jquery-timeago@180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js"];
block content
    if pixel
        a(href=`/#x=${pixel.point.x}&y=${pixel.point.y}`)
            .profile-header(style=`background-position: calc(50% - ${(pixel.point.x - (config.boardSize / 2)) * boardImageCorrection}px) ${-(pixel.point.y * boardImageCorrection) + 175}px;`)
                .overlay
    .container
        .profile-info(class=(pixel ? " has-pixel" : ""))
            .user-header-info
                .avatar: span= profileUser.getUsernameInitials()
                .user-info
                    span.username
                        .
                            #{profileUser.name}
                        +renderBadges(profileUser.getBadges(null))
                    .subdetails
                        div
                            span.value= profileUser.placeCount.toLocaleString()
                            span.name pixel#{profileUser.placeCount == 1 ? "" : "s"} placed
            h1 About them
            .user-details
                p #[strong Joined] #[time.timeago(datetime=profileUser.creationDate.toISOString(), title=profileUser.creationDate.toLocaleString()) on #{profileUser.creationDate.toLocaleString()}].
                if profileUser.lastPlace
                    p #[strong Last placed] #[time.timeago(datetime=profileUser.lastPlace.toISOString(), title=profileUser.lastPlace.toLocaleString()) #{profileUser.lastPlace.toLocaleString()}]
                        if pixel && pixel.isLatest
                            .
                                #{" at "}
                            a(href=`/#x=${pixel.point.x}&y=${pixel.point.y}`) (#{pixel.point.x.toLocaleString()}, #{pixel.point.y.toLocaleString()})
                        . 
                            .